<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookvelvetfinal">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="BookVelvet"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookVelvetFinal">
        <activity
            android:name=".shelf6"
            android:exported="false" />
        <activity
            android:name=".shelf5"
            android:exported="false" />
        <activity
            android:name=".shelf4"
            android:exported="false" />
        <activity
            android:name=".shelf3"
            android:exported="false" />
        <activity
            android:name=".shelf2"
            android:exported="false" />
        <activity
            android:name=".shelf1"
            android:exported="false" />
        <activity
            android:name=".welcome"
            android:exported="false" />
        <activity
            android:name=".Aboutus"
            android:exported="false" />
        <activity
            android:name=".Alert"
            android:exported="false" />
        <activity
            android:name=".Shelves"
            android:exported="false" />
        <activity
            android:name=".Books"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RateUsDialog"
            android:exported="true" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>